<h2 class="m-3">Citas</h2>
    
<!-- Formulario para Agregar/Modificar Pacientes -->
<label class="mt-3 m-3"><b id="lblCita">Registrar una nueva Cita:</b></label>
<form id="formCita" class="m-3">
    <div class="row">
    	<div class="col-12 col-md-9" id="idContentC">
    		<label class="pl-2">Ingrese una Cedula:</label>
			<div class="form-group m-2 space-between-h">
				<input type="text" id="idCedula" class="form-control col-10" style="display: initial; width: 78%; border-radius: 5px 0 0 5px;" >
				<button type="button" id="idBuscarPaciente" class="btn-ter2 bg3 flex-center" style="width: 22%; border-radius: 0 5px 5px 0;">Buscar</button>	
			</div>
		</div>
		<div class="col-12 col-md-3" id="idActivar">
    		<label class="pl-2">Tipo de Cita:</label>
    		<div class="form-group m-2">
				<button type="button" id="idTipoCita" class="btn-ter2 flex-center bg2" style="width:100%;">PREVIA</button>
			</div>
		</div>
		<div class="col-12 col-md-6 ">
			<label class="pl-2">Nombres :</label>
			<div class="form-group m-2">
				<input type="text" id="idNombres" class="form-control bg-gray" readonly>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<label class="pl-2">Apellidos:</label>
			<div class="form-group m-2">
				<input type="text" id="idApellidos" class="form-control bg-gray" readonly>
			</div>
		</div>
		<div class="col-12 col-md-6">
            <label class="pl-2">Ingrese el tipo de servicio:</label>
            <div class="form-group m-2">
                <select id="idServicio" class="form-control">
                    <option value="">--Seleccione una Opcion--</option>
                <!--<option value="Odontopediatría">Odontopediatría</option>
                    <option value="Endodoncia">Endodoncia</option>
                    <option value="Ortodoncia">Ortodoncia</option>
                    <option value="Periodoncia">Periodoncia</option> -->
                </select>
            </div>
		</div>
		<div class="col-12 col-md-6">
			<label class="pl-2">Fecha para la cita:</label>
			<div class="form-group m-2">
				<input type="date" class="form-control" id="idFechaCita" name="trip-start" min="1930-01-01" max="2100-12-31">
			</div>	
		</div>
		<div class="col-12 col-md-8">
			<label class="pl-2">Hora de la Cita:</label>
			<div class="form-group m-2">
				<input id="idHora" type="time" class="form-control"></input>
			</div>
		</div>
		<div class="col-12 col-md-4">
            <label class="pl-2">&nbsp;</label>
            <div class="form-group m-2 space-between-h">
                <button type="button" id="idRegistrar" class="btn-ter flex-center" style="width:100%;"><i class="icon-floppy-disk"></i>&nbsp;Registrar</button>
                <div id="idContentM" class="space-between-h" style="width:100%">
                    <button type="button" id="idModificar" class="btn-ter2 bg3 flex-center" style="width:80%;"><i class="icon-pen-to-square"></i>&nbsp;Modificar</button>
                    <button type="button" id="idCancelar" class="btn-ter flex-center" style="width:18%; margin-left: 2px;"><i class="icon-arrow-left"></i></button>
                </div>
            </div>
        </div>
	</div>
</form>
<!-- Listado de Pacientes -->

<label class="mt-4 m-3"><b>Citas Registradas:</b></label>
<div class="container hidden-scroll">
	<table>
	    <thead>
	        <tr>
	            <th>ID</th>
	            <th>Cédula Paciente</th>
	            <th>Nombres</th>
	            <th>Apellidos</th>
	            <th>Servicio</th>
	            <th>Fecha Cita</th>
	            <th>Hora Cita</th>
	            <th>Tipo</th>
	            <th>Asistencia</th>
	            <th>Acciones</th>
	        </tr>
	    </thead>
	    <tbody id="listaCitas">
	        <!-- Datos de citas -->
<!-- 	        <tr>
	            <td>1</td>
	            <td>20666550</td>
	            <td>Yulyan</td>
	            <td>Escalona</td>
	            <td>Periodoncia</td>
	            <td style="display:none;">6</td>
	            <td>29/10/2023</td>
	            <td>15:30:00</td>
	            <td>PREVIA</td>

	            <td>
	                <button type="button" class="btn-ter2 p-2 m-0 bg3 btnSeleccionar" style="padding-bottom: 4px;"><i class="icon-pen-to-square btnSeleccionar"></i></button>
	                <button type="button" class="btn-ter2 p-2 m-0 bg1 btnEliminar" style="padding-bottom: 4px;"><i class="icon-xmark btnEliminar" ></i></button>
	            </td>
	        </tr> -->
	    </tbody>
	</table>
</div>
<script type="module" src="/scripts/citas/citas.js"></script>
