<h2 class="m-3">Ajustes</h2>
    
<!-- Formulario para Agregar/Modificar Pacientes -->
<label class="mt-3 m-3"><b>Nombre de la Empresa:</b></label>
<form class="m-3">
    <div class="row">
    	<div class="col-12">
            <div class="form-group m-2">
                <input type="text" id="idTratamiento" class="form-control" placeholder="Nombre de la Empresa">
            </div>
        </div>
		<div class="col-12 col-md-8">
			<div class="form-group m-2 space-between-h">
				<input type="text" id="idServicio" class="form-control" placeholder="RIF">
			</div>
		</div>
		<div class="col-12 col-md-2">
			<div class="form-group m-2 space-between-h">
				<button type="submit" class="btn-ter" style="width:100%; background-color: #a690fd;"><i class="icon-pen-to-square"></i></button>
			</div>
		</div>
		<div class="col-12 col-md-2">
			<div class="form-group m-2 space-between-h">
	            <button class="btn-ter" style=" width:100%; background-color: red;"><i class="icon-xmark"></i></button>
			</div>
		</div>
</form>
<!-- <script src="/scripts/config.js"></script> -->