<h2 class="m-3">Pacientes</h2>
    
<!-- Formulario para Agregar/Modificar Pacientes -->
<label class="mt-3 m-3"><b id="lblPacientes">Registrar nuevo paciente:</b></label>
<form class="m-3" id="FormPaciente">
    <div class="row">
    	<div class="col-12" id="idContentC">
    		<label class="pl-2">Ingrese una Cedula:</label>
			<div class="form-group m-2">
				<input type="text" id="idCedula" class="form-control" >
			</div>
		</div>
		<div class="col-3" id="idActivar">
    		<label class="pl-2">Activo:</label>
    		<div class="form-group m-2">
				<button type="button" id="idActivo" class="btn-ter2 flex-center bg2" style="width:100%;">SI</button>
			</div>
		</div>
		<div class="col-12 col-md-6 ">
			<label class="pl-2">Ingrese los Nombres del Paciente:</label>
			<div class="form-group m-2">
				<input type="text" id="idNombres" class="form-control" >
			</div>
		</div>
		<div class="col-12 col-md-6">
			<label class="pl-2">Ingrese los Apellidos del Paciente:</label>
			<div class="form-group m-2">
				<input type="text" id="idApellidos" class="form-control" >
			</div>
		</div>
		<div class="col-12 col-md-6">
			<label class="pl-2">Ingrese la Fecha de Nacimiento:</label>
			<div class="form-group m-2">
				<input type="date" class="form-control" id="idFecha" name="trip-start" min="1930-01-01" max="2100-12-31">
			</div>
		</div>
		<div class="col-12 col-md-6">
			<label class="pl-2">Telefonos (primer campo obligatorio):</label>
			<div class="form-group m-2 space-between-h">
				<input type="text" id="idTelefono" class="form-control input-telefono col-10">
				<input type="text" id="idTelefono2" class="form-control input-telefono2 flex-center" placeholder="opcional">
				<button type="button" id="idAgregarTlfn" class="btn-ter flex-center input-plus" ><i class="icon-plus"></i></button>
			</div>
		</div>
		<div class="col-12 col-md-8">
			<label class="pl-2">Ingrese una Direccion:</label>
			<div class="form-group m-2 space-between-h">
				<input type="text" id="idDireccion" class="form-control" maxlength="110">
			</div>
		</div>
		<div class="col-12 col-md-4">
			<label class="pl-2">&nbsp;</label>
			<div class="form-group m-2 space-between-h">
				<button type="button" id="idRegistrar" class="btn-ter flex-center" style="width:100%;"><i class="icon-floppy-disk"></i>&nbsp;Registrar</button>
				<div id="idContentM" class="space-between-h" style="width:100%">
					<button type="button" id="idModificar" class="btn-ter2 bg3 flex-center" style="width:80%;"><i class="icon-pen-to-square"></i>&nbsp;Modificar</button>
					<button type="button" id="idCancelar" class="btn-ter flex-center" style="width:18%; margin-left: 2px;"><i class="icon-arrow-left"></i></button>
				</div>
			</div>
		</div>
</form>

<!-- Listado de Pacientes -->

<label class="mt-4"><b>Pacientes Registrados:</b></label>
<div class="container hidden-scroll">
	<table>
	    <thead>
	        <tr>
	            <th>Cédula</th>
	            <th>Nombres</th>
	            <th>Apellidos</th>
	            <th>Teléfonos</th>
	            <th>Dirección</th>
	            <th>Fecha de Nacimiento</th>
	            <th>Activo</th>
	            <th>Acciones</th>
	        </tr>
	    </thead>
	    <tbody id="idListaPacientes">
			<!--<tr>
	            <td>18765432</td>
	            <td>Carlos Eduardo</td>
	            <td>Rodríguez Pérez</td>
	            <td>04142345678 / 021223</td>
	            <td>Avenida Los Leones</td>
	            <td>1989-05-15</td>
	            <td>
	                <button class="btn-ter p-2 m-0 bg3" style="padding-bottom: 4px;;"><i class="icon-pen-to-square"></i></button>
	                <button class="btn-ter p-2 m-0 bg1" style="padding-bottom: 4px;"><i class="icon-xmark"></i></button>
	            </td>
	        </tr> -->
	        <!-- Puedes agregar más filas con datos ficticios aquí -->
	    </tbody>
	</table>
</div>
<script type="module" src="/scripts/pacientes/pacientes.js"></script>

