<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sistema de Citas</title>
	<link rel="stylesheet" href="/styles/styles.css">
	<link rel="stylesheet" href="/styles/icons.css">
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
	<header class="container space-between-h flex-center-v" style="padding-bottom:0; padding-top: 1.3rem;padding-left: 1.2rem; font-weight: 700;">
		<a href="#"><h1 class="no-seleccionable"><i class="icon-tooth"></i>SmileUp</h1></a>
		<p id="idDate" style="padding-top: 0.5rem;padding-right: 0.5rem; font-size: 0.95rem;"></p>
	</header>
	<div class="container">
		<div class="row">

			<!-- #[NAV MENU]# -->

			<div class="col-12 col-md-2 col-l-custom">
				<div class="m-1 menu">
					<div class=" horizontal-scroll">
						<a class="btn m-1 text-start" id="loadInicio" href="/inicio"><i class="icon-house"></i> Inicio</a>
						<a class="btn m-1 text-start" id="loadPacientes" href="/pacientes"><i class="icon-address-book"></i> Pacientes</a>
						<a class="btn m-1 text-start" id="loadCitas" href="/citas"><i class="icon-calendar-days"></i> Citas</a>
						<a class="btn m-1 text-start" id="loadConsultas" href="/consultas"><i class="icon-tooth"></i> Consultas</a>
						<a class="btn m-1 text-start" id="loadServicios" href="/servicios"><i class="icon-suitcase-medical"></i> Servicios</a>
						<a class="btn m-1 text-start" id="loadTratmientos" href="/tratamientos"><i class="icon-screwdriver"></i> Tratamientos</a>
						<a class="btn m-1 text-start" id="loadDentistas" href="/dentistas"><i class="icon-user-nurse"></i> Dentistas</a>
						<a class="btn m-1 text-start" id="loadReportes" href="/reportes"><i class="icon-file-lines"></i> Reportes</a>
						<a class="btn m-1 text-start" id="loadAjustes" href="/configuracion"><i class="icon-gear"></i> Ajustes</a>
						<a class="btn m-1 text-start" id="loadCerrar" href="/logout"><i class="icon-right-from-bracket"></i> Cerrar</a>						
					</div>
				</div>
			</div>

			<!--==================================================================================================================================-->

			<!-- #[MAIN]# -->

			<div class="col-12 col-md-10 col-r-custom">
				<div class="card m-1">
					
				<!-- #{COMPONENT AREA} -->
					
				</div> 	
			</div>

			<!--=======================================================================================-->
			<div class="container flex-end-h">
				<p>Desarrollado por <strong style="color: #8364ff;">Raul Teppa</strong></p>	
			</div>
		</div>
	</div>
	<script src="/scripts/layout/layout.js"></script>
</body>
</html>
