<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sistema de Citas</title>
	<link rel="stylesheet" href="/styles/styles.css">
	<link rel="stylesheet" href="/styles/icons.css">
	<link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container flex-center" style="height: 100vh;">
		<div>
			<form class="card" id="idLogin">
				<div class="row flex-center-h container">
					<a href="#"><h1 class="no-seleccionable"><b><i class="icon-tooth"></i>SmileUp&nbsp;</b></h1></a>
					<div class="col-12 mt-3">
						<div class="form-group m-2">
							<input type="text" id="idUsuario" class="form-control" placeholder="Usuario">
						</div>
					</div>
					<div class="col-12">
						<div class="form-group m-2">
							<input type="password" id="idPass" class="form-control" placeholder="Contraseña">
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="form-group m-2 flex-center">
						<button type="submit" class="btn-ter flex-center-v space-around-h" style="width:130px;">Ingresar <i class="icon-right-to-bracket"></i></button>
					</div>	
				</div>
			</form>
			<div class="container flex-end-h">
				<p>Desarrollado por <strong style="color: #8364ff;">Raul Teppa</strong></p>	
			</div>
		</div>
	</div>
	<script src="/scripts/auth.js"></script>
</body>
</html>
